Repository Nubi0/Nubio, pull requests merged in 2023-10, with the labels that each got.

#300 feat(member) : #299 - member-profile 양방향 매핑 수정
  backend/authentication-service/src/main/java/com/authenticationservice/api/profile/service/impl/ProfileUploadServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/entity/Member.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/entity/Profile.java
Labels: 🐛 버그, 🔀 병합, ✨ 기능, 🔙🔚 backend

#303 refactor(DetailType) : #302 - 취향항목 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/taste/entity/constant/DetailType.java
Labels: 🔀 병합, ⚡️ 개선, ♻️ 리팩토링, 🔙🔚 backend

#304 merge(main)
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/taste/entity/constant/DetailType.java
Labels: 🔀 병합, 🚀 배포, ♻️ 리팩토링, 🔙🔚 backend

#306 Feature/authentication deletefix back
  backend/authentication-service/src/main/java/com/authenticationservice/api/auth/service/impl/AuthServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/api/member/service/impl/MemberInfoServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/MemberService.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/impl/MemberServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/entity/Profile.java
  backend/authentication-service/src/main/java/com/authenticationservice/external/oauth/model/OAuthAttributes.java
  backend/authentication-service/src/main/java/com/authenticationservice/web/service/OauthLoginService.java
  backend/authentication-service/src/test/java/com/authenticationservice/domain/member/service/impl/MemberServiceImplTest.java
Labels: 🐛 버그, 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#307 develop -> main
  backend/authentication-service/src/main/java/com/authenticationservice/api/auth/service/impl/AuthServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/api/member/service/impl/MemberInfoServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/MemberService.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/impl/MemberServiceImpl.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/entity/Profile.java
  backend/authentication-service/src/main/java/com/authenticationservice/external/oauth/model/OAuthAttributes.java
  backend/authentication-service/src/main/java/com/authenticationservice/web/service/OauthLoginService.java
  backend/authentication-service/src/test/java/com/authenticationservice/domain/member/service/impl/MemberServiceImplTest.java
Labels: 🔀 병합, 🚀 배포, ✨ 기능, 🔙🔚 backend

#309 Feature/safe refactor front
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/SelectMyLocation.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/report/Report.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbyShelter.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/styles/SKakaoMap.tsx
Labels: ✨ 기능, 🧩frontend

#310 Feature/authentication profile nickname back
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/impl/MemberServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/profile/dto/MyCourseRes.java
  backend/enjoy-service/src/main/java/com/enjoyservice/mapper/profile/MyCourseMapper.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#311 develop -> main
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/SelectMyLocation.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/report/Report.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbyShelter.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/styles/SKakaoMap.tsx
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/service/impl/MemberServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/profile/dto/MyCourseRes.java
  backend/enjoy-service/src/main/java/com/enjoyservice/mapper/profile/MyCourseMapper.java
Labels: 🔀 병합, 🔙🔚 backend

#312 Feature/enjoy course front
  Frontend/nubio/public/assets/banner/Banner3.svg
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourse.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseButton.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReview.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewItem.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewList.tsx
  Frontend/nubio/src/components/enjoyHome/Home/Banner.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/components/user/Like/course/CourseList.tsx
  Frontend/nubio/src/components/user/Like/mycourse/MyCourseList.tsx
  Frontend/nubio/src/components/user/UserImg.tsx
  Frontend/nubio/src/components/user/prefrence/DrinkList.tsx
  Frontend/nubio/src/components/user/prefrence/SetPrefrenceModal.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/CourseDeatilPage.tsx
  Frontend/nubio/src/pages/ProfilePage.tsx
  Frontend/nubio/src/pages/SignUpPage.tsx
  Frontend/nubio/src/redux/slice/EnjoySlice.tsx
  Frontend/nubio/src/styles/SAllCoursePage.tsx
  Frontend/nubio/src/styles/SCourseDeatilPage.tsx
  Frontend/nubio/src/styles/SCourseSelectPage.tsx
  Frontend/nubio/src/styles/SEnjoyHomePage.tsx
  Frontend/nubio/src/styles/SLikePage.tsx
Labels: ⚡️ 개선, ♻️ 리팩토링, ✨ 기능, 🧩frontend

#314 feat(MemberResDto) : #313 - 프로필 조회
  backend/authentication-service/src/main/java/com/authenticationservice/api/member/dto/response/MemberResDto.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/entity/constant/Gender.java
Labels: 🚀 배포, ♻️ 리팩토링, ✨ 기능, 🔙🔚 backend

#315 feat(MemberResDto) : #313 - 프로필 조회
  Frontend/nubio/public/assets/banner/Banner3.svg
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourse.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseButton.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReview.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewItem.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewList.tsx
  Frontend/nubio/src/components/enjoyHome/Home/Banner.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/components/user/Like/course/CourseList.tsx
  Frontend/nubio/src/components/user/Like/mycourse/MyCourseList.tsx
  Frontend/nubio/src/components/user/UserImg.tsx
  Frontend/nubio/src/components/user/prefrence/DrinkList.tsx
  Frontend/nubio/src/components/user/prefrence/SetPrefrenceModal.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/CourseDeatilPage.tsx
  Frontend/nubio/src/pages/ProfilePage.tsx
  Frontend/nubio/src/pages/SignUpPage.tsx
  Frontend/nubio/src/redux/slice/EnjoySlice.tsx
  Frontend/nubio/src/styles/SAllCoursePage.tsx
  Frontend/nubio/src/styles/SCourseDeatilPage.tsx
  Frontend/nubio/src/styles/SCourseSelectPage.tsx
  Frontend/nubio/src/styles/SEnjoyHomePage.tsx
  Frontend/nubio/src/styles/SLikePage.tsx
  backend/authentication-service/src/main/java/com/authenticationservice/api/member/dto/response/MemberResDto.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/member/entity/constant/Gender.java
Labels: ⚡️ 개선, 🚀 배포, ✨ 기능, 🔙🔚 backend

#316 feat(course) : #299 - course 즐겨찾기 결과 조회
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/coursefavorite/repository/CourseFavoriteRepository.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/coursefavorite/service/impl/CourseFavoriteServiceImpl.java
  backend/enjoy-service/src/test/java/com/enjoyservice/domain/coursefavorite/repository/CourseFavoriteRepositoryTest.java
Labels: 🐛 버그, 🔀 병합, ✨ 기능, 🔙🔚 backend

#317 develop -> main
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/coursefavorite/repository/CourseFavoriteRepository.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/coursefavorite/service/impl/CourseFavoriteServiceImpl.java
  backend/enjoy-service/src/test/java/com/enjoyservice/domain/coursefavorite/repository/CourseFavoriteRepositoryTest.java
Labels: 🔀 병합, 🔙🔚 backend

#320 fix(ProfileServiceImpl) : #319 - 프로필 이미지 Url 수정
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/entity/Profile.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/repository/ProfileRepository.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/service/impl/ProfileServiceImpl.java
Labels: 🐛 버그, 🔀 병합, ✨ 기능, 🔙🔚 backend

#321 merge(main)
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/entity/Profile.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/repository/ProfileRepository.java
  backend/authentication-service/src/main/java/com/authenticationservice/domain/profile/service/impl/ProfileServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🚀 배포, ✨ 기능, 🔙🔚 backend

#324 Feature/safe refactor front
  Frontend/nubio/public/index.html
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/safeHome/Option.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/report/CreateReport.tsx
  Frontend/nubio/src/components/safeHome/report/DeleteReport.tsx
  Frontend/nubio/src/components/safeHome/report/Report.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDistanceInfo.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirectionInfo.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/SafeHomePage.tsx
  Frontend/nubio/src/styles/SHomePage.tsx
  Frontend/nubio/src/styles/SKakaoMap.tsx
  Frontend/nubio/src/styles/SLoginPage.tsx
  Frontend/nubio/src/styles/SPc.tsx
  Frontend/nubio/src/styles/SSafeHomePage.tsx
  Frontend/nubio/src/styles/SSearch.tsx
  Frontend/nubio/src/styles/SSignUpPage.tsx
Labels: ✨ 기능, 🧩frontend

#326 feat(CourseList) : #323 - 현재 위치 등록
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseList.tsx
Labels: ✨ 기능, 🧩frontend

#327 design(App) : #325 PC용 화면 구성
  Frontend/nubio/public/assets/pc/background.jpg
  Frontend/nubio/public/assets/pc/customIcon.png
  Frontend/nubio/public/assets/pc/recommendIcon.png
  Frontend/nubio/public/assets/pc/reportIcon.png
  Frontend/nubio/public/assets/pc/safeIcon.png
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/styles/SPc.tsx
Labels: ✨ 기능, 🧩frontend

#329 design(App) : #328 - enjoyPage CSS 수정
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseList.tsx
  Frontend/nubio/src/styles/SAllCoursePage.tsx
  Frontend/nubio/src/styles/SCourseDeatilPage.tsx
  Frontend/nubio/src/styles/SCourseSelectPage.tsx
  Frontend/nubio/src/styles/SEnjoyHomePage.tsx
  Frontend/nubio/src/styles/SFooter.tsx
  Frontend/nubio/src/styles/SLikePage.tsx
  Frontend/nubio/src/styles/SMyCoursePage.tsx
  Frontend/nubio/src/styles/SProfilePage.tsx
Labels: ⚡️ 개선, 🧩frontend

#334 docs(README) : #333 - readme 수정
  README.md
Labels: 📝 문서, 🔀 병합

#335 Feature/login alert front
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
Labels: ✨ 기능, 🧩frontend

#338 chore(ProfilePage) : #337 - Footer, Header, Profile 버그 수정
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/Header.tsx
  Frontend/nubio/src/pages/ProfilePage.tsx
  Frontend/nubio/src/styles/SHomePage.tsx
Labels: ⚡️ 개선, 🧩frontend

#336 design(SSafeHomePage) : #318 - 검색 창 스타일 수정
  Frontend/nubio/src/styles/SSafeHomePage.tsx
  Frontend/nubio/src/styles/SSearch.tsx
Labels: ⚡️ 개선, 🧩frontend

#340 Feature/get shelter front
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/Map.tsx
  Frontend/nubio/src/components/common/search/SearchBar.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/calamity/Shelter.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/pages/SafeHomePage.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
  Frontend/nubio/src/styles/SKakaoMap.tsx
  Frontend/nubio/src/styles/SPc.tsx
  Frontend/nubio/src/styles/SSafeHomePage.tsx
  Frontend/nubio/src/types/safeHome.d.ts
Labels: ✨ 기능, 🧩frontend

#342 chore(SignUpPage) : #341 - 이메일 인증 로직 수정
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/index.css
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#344 feat(KakaoMap) : #343 안전경로 마커 삭제
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
Labels: ✨ 기능, 🧩frontend

#346 feat(SignUpForm) : #345 - 로딩 스피너
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/SignUpPage.tsx
Labels: ✨ 기능, 🧩frontend

#350 design(SSafeHomePage) : #349 - 스타일 수정
  Frontend/nubio/src/components/safeHome/report/CreateReport.tsx
  Frontend/nubio/src/components/safeHome/report/DeleteReport.tsx
  Frontend/nubio/src/styles/SSafeHomePage.tsx
Labels: ✨ 기능, 🧩frontend

#352 feat(AuthServiceImpl) : #351 refresh tokon재발급
  backend/authentication-service/src/main/java/com/authenticationservice/api/auth/service/impl/AuthServiceImpl.java
Labels: ⚡️ 개선, 🔙🔚 backend

#356 feat(CourseReviewInfosRes) : #355 - 코스 리뷰 조회시 review_id 오타 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/api/coursereview/dto/CourseReviewInfosRes.java
Labels: 🐛 버그, 🔀 병합, 🚀 배포, 🔙🔚 backend

#359 Feature/report detail front
  Frontend/nubio/public/assets/markerIcon/accident.png
  Frontend/nubio/public/assets/markerIcon/construction.png
  Frontend/nubio/public/assets/markerIcon/terror.png
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/safeHome/report/DeleteReport.tsx
  Frontend/nubio/src/components/safeHome/report/GetReport.tsx
  Frontend/nubio/src/pages/SafeHomePage.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
  Frontend/nubio/src/types/RootState.d.ts
Labels: 🐛 버그, ✨ 기능, 🧩frontend

#360 Feature/type refactor front
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseFilterModal/AllCourseFilterModal.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseHeader.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/Category.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseButton.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseDetailItem.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseDetailList.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReview.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewItem.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseReviewList.tsx
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseLocationSelect.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CoursePin.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseResult.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelect.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/components/first/EnjoyButton.tsx
  Frontend/nubio/src/components/first/PreferenceButton.tsx
  Frontend/nubio/src/components/first/SafeButton.tsx
  Frontend/nubio/src/components/user/Like/course/CourseList.tsx
  Frontend/nubio/src/components/user/Like/mycourse/MyCourseList.tsx
  Frontend/nubio/src/components/user/Like/place/PlaceItem.tsx
  Frontend/nubio/src/components/user/Like/place/PlaceReview.tsx
  Frontend/nubio/src/components/user/Profile.tsx
  Frontend/nubio/src/components/user/Setting.tsx
  Frontend/nubio/src/components/user/UserImg.tsx
  Frontend/nubio/src/components/user/UserInfo.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/CourseDeatilPage.tsx
  Frontend/nubio/src/pages/CourseSelectPage.tsx
  Frontend/nubio/src/redux/slice/EnjoySlice.tsx
  Frontend/nubio/src/types/enjoyhome.d.ts
Labels: ⚡️ 개선, ♻️ 리팩토링, 🧩frontend

#364 Feature/api refactor front
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/Map.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseFilterModal/AllCourseFilterModal.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/components/user/Setting.tsx
  Frontend/nubio/src/components/user/prefrence/SetPrefrenceModal.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/CourseDeatilPage.tsx
  Frontend/nubio/src/pages/KaKaoLogin.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
Labels: ⚡️ 개선, ♻️ 리팩토링, 🧩frontend

#366 Feature/emapi fix back
  backend/enjoy-service/src/main/java/com/enjoyservice/api/recommendation/client/SchedulerClient.java
  backend/safe-service/build.gradle
  backend/safe-service/src/main/java/com/safeservice/SafeServiceApplication.java
  backend/safe-service/src/main/java/com/safeservice/api/ApiResponseEntity.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/client/DataPortalApiClient.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/client/SchedulerApiClient.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/controller/EmergencyMessageController.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/dto/EMRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/dto/client/DataApiDto.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/EmergencyMessageInfoService.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/SchedulerApiService.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/impl/SchedulerApiServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/repository/EmergencyMessageRepository.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/service/impl/EmergencyMessageServiceImpl.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#367 Feature/refactoring safe
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/SelectMyLocation.tsx
  Frontend/nubio/src/components/common/search/SearchBar.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/calamity/Shelter.tsx
  Frontend/nubio/src/components/safeHome/disaster/Disaster.tsx
  Frontend/nubio/src/components/safeHome/disaster/EvacuationRouteModal.tsx
  Frontend/nubio/src/components/safeHome/disaster/SafeGuideModal.tsx
  Frontend/nubio/src/components/safeHome/report/CreateReport.tsx
  Frontend/nubio/src/components/safeHome/report/DeleteReport.tsx
  Frontend/nubio/src/components/safeHome/report/GetReport.tsx
  Frontend/nubio/src/components/safeHome/route/RouteInfo.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbySafetyFacilities.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbyShelter.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDistanceInfo.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirectionInfo.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
  Frontend/nubio/src/redux/slice/SafeSlice.tsx
  Frontend/nubio/src/redux/store.tsx
  Frontend/nubio/src/styles/SCalamity.tsx
  Frontend/nubio/src/styles/SDisaster.tsx
  Frontend/nubio/src/styles/SMap.tsx
  Frontend/nubio/src/styles/SReport.tsx
  Frontend/nubio/src/styles/SRoute.tsx
  Frontend/nubio/src/styles/SSafeHomePage.tsx
  Frontend/nubio/src/styles/SSearch.tsx
  Frontend/nubio/src/styles/STMap.tsx
  Frontend/nubio/src/types/RootState.d.ts
  Frontend/nubio/src/types/kakaoMaps.d.ts
  Frontend/nubio/src/types/safeHome.d.ts
Labels: ⚡️ 개선, ♻️ 리팩토링, 🧩frontend

#369 refactor : #363 - API SERVER URL 수정
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/CourseDetail/CoursDetailList/CourseButton.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
Labels: ⚡️ 개선, ♻️ 리팩토링, 🧩frontend

#371 design(HomePage) : #368 - 홈페이지 스타일 수정
  Frontend/nubio/package-lock.json
  Frontend/nubio/package.json
  Frontend/nubio/public/assets/home/chat.svg
  Frontend/nubio/public/assets/home/menu.svg
  Frontend/nubio/public/assets/home/play.svg
  Frontend/nubio/public/assets/home/profile.svg
  Frontend/nubio/public/assets/home/safe.svg
  Frontend/nubio/src/components/first/AppContent.tsx
  Frontend/nubio/src/pages/HomePage.tsx
  Frontend/nubio/src/pages/KaKaoLogin.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
  Frontend/nubio/src/styles/SHomePage.tsx
  Frontend/nubio/src/styles/SLoginPage.tsx
Labels: ♻️ 리팩토링, 🧩frontend

#374 Feature/refactoring safe
  Frontend/nubio/package-lock.json
  Frontend/nubio/src/components/common/map/KakaoMap.tsx.rej
  Frontend/nubio/src/components/first/AppContent.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/pages/HomePage.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
  Frontend/nubio/src/pages/SignUpPage.tsx
  Frontend/nubio/src/styles/SHomePage.tsx
  Frontend/nubio/src/styles/SLoginPage.tsx
  Frontend/nubio/src/styles/SSignUpPage.tsx
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#377 Feature/rout facility back
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/client/OsrmApiClient.java
  backend/safe-service/src/main/java/com/safeservice/api/path/controller/NodeController.java
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/Location.java
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/NearSafetyResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/OsrmDto.java
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/OsrmListResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/path/service/NodeServiceInfo.java
  backend/safe-service/src/main/java/com/safeservice/api/path/service/impl/NodeServiceInfoImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/facility/service/impl/SafetyFacilityServiceImpl.java
Labels: ✨ 기능, 🔙🔚 backend

#380 Feature/footer front
  Frontend/nubio/public/assets/menu/chat.png
  Frontend/nubio/public/assets/menu/chat.svg
  Frontend/nubio/public/assets/menu/menu.png
  Frontend/nubio/public/assets/menu/menu.svg
  Frontend/nubio/public/assets/menu/menuEnjoy.png
  Frontend/nubio/public/assets/menu/menuEnjoy.svg
  Frontend/nubio/public/assets/menu/menuProfile.png
  Frontend/nubio/public/assets/menu/menuProfile.svg
  Frontend/nubio/public/assets/menu/menuSafe.png
  Frontend/nubio/public/assets/menu/menuSafe.svg
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/components/common/menumodal/CloseButton.tsx
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/components/common/menumodal/MenuItem.tsx
  Frontend/nubio/src/components/common/menumodal/ProfileModal.tsx
  Frontend/nubio/src/components/common/menumodal/SafeModal.tsx
  Frontend/nubio/src/pages/ProfilePage.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#381 Feature/report s3resize back
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/ReportFile.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/constant/reportfile/ReportFileType.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportFileServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportFileService.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportFileServiceImplTest.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportServiceImplTest.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#382 feat(NodeServiceInfoImpl) : #375 - 안전길 추천 중복 시설물 제거
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/NearSafetyResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/path/service/impl/NodeServiceInfoImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/facility/entity/SafetyFacility.java
  backend/safe-service/src/test/java/com/safeservice/api/emergencymessage/controller/EmergencyMessageControllerTest.java
Labels: ♻️ 리팩토링

#383 feat(NodeServiceInfoImpl) : #375 - 안전길 추천 중복 시설물 제거
  Frontend/nubio/public/assets/menu/chat.png
  Frontend/nubio/public/assets/menu/chat.svg
  Frontend/nubio/public/assets/menu/menu.png
  Frontend/nubio/public/assets/menu/menu.svg
  Frontend/nubio/public/assets/menu/menuEnjoy.png
  Frontend/nubio/public/assets/menu/menuEnjoy.svg
  Frontend/nubio/public/assets/menu/menuProfile.png
  Frontend/nubio/public/assets/menu/menuProfile.svg
  Frontend/nubio/public/assets/menu/menuSafe.png
  Frontend/nubio/public/assets/menu/menuSafe.svg
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/components/common/menumodal/CloseButton.tsx
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/components/common/menumodal/MenuItem.tsx
  Frontend/nubio/src/components/common/menumodal/ProfileModal.tsx
  Frontend/nubio/src/components/common/menumodal/SafeModal.tsx
  Frontend/nubio/src/pages/ProfilePage.tsx
  Frontend/nubio/src/styles/SFooter.tsx
  backend/safe-service/src/main/java/com/safeservice/api/path/dto/response/NearSafetyResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/path/service/impl/NodeServiceInfoImpl.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/facility/entity/SafetyFacility.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/ReportFile.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/constant/reportfile/ReportFileType.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportFileServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportFileService.java
  backend/safe-service/src/test/java/com/safeservice/api/emergencymessage/controller/EmergencyMessageControllerTest.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportFileServiceImplTest.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportServiceImplTest.java
Labels: 🔀 병합, ♻️ 리팩토링, 🔙🔚 backend

#385 fix(LoginPage) : #384 - LoginPage 에러 수정
  Frontend/nubio/package-lock.json
  Frontend/nubio/src/pages/LoginPage.tsx
Labels: 🐛 버그, ⚡️ 개선, 🧩frontend

#388 feat(NearbySafetyFacilities) : #373 - 안전길 찾기 안전시설물 추가
  Frontend/nubio/src/components/safeHome/route/safe/NearbySafetyFacilities.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
Labels: ⚡️ 개선, ♻️ 리팩토링, ✨ 기능, 🧩frontend

#395 Feature/chatting
  Frontend/nubio/package-lock.json
  Frontend/nubio/public/assets/chat/nubio_logo.svg
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/router/index.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: ✨ 기능, 🧩frontend

#393 feat(EnjoyPage) : #387 - EnjoyModal 기능 연동
  Frontend/nubio/public/assets/menu/puzzle.svg
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/pages/EnjoyHomePage.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: ♻️ 리팩토링, ✨ 기능, 🧩frontend

#397 fix(SignUpPage) : #396 - 회원가입 에러 수정
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
Labels: 🐛 버그, ⚡️ 개선, 🧩frontend

#398 Feature/safe admin back
  backend/safe-service/src/main/java/com/safeservice/api/chat/controller/ChatClientController.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/dto/ChatClientDto.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/dto/ChatRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/service/ChatClientService.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/service/impl/ChatClientServiceimpl.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportListDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/repository/EmergencyMessageRepository.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/service/EmergencyMessageService.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/service/impl/EmergencyMessageServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/Report.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/type/report/Allow.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/type/report/Region.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
  backend/safe-service/src/test/java/com/safeservice/api/report/service/ReportInfoServiceTest.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportServiceImplTest.java
Labels: 🔀 병합, ⚡️ 개선, 🔙🔚 backend

#401 Feature/report allow back
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/impl/SchedulerApiServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepository.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
Labels: 🔀 병합, ⚡️ 개선, ♻️ 리팩토링, 🔙🔚 backend

#403 merge
  Frontend/nubio/package-lock.json
  Frontend/nubio/public/assets/chat/nubio_logo.svg
  Frontend/nubio/public/assets/menu/puzzle.svg
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/components/common/menumodal/CloseButton.tsx
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/components/common/menumodal/MenuItem.tsx
  Frontend/nubio/src/components/common/menumodal/SafeModal.tsx
  Frontend/nubio/src/components/safeHome/calamity/CalamityMessage.tsx
  Frontend/nubio/src/components/safeHome/report/CreateReport.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbySafetyFacilities.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/pages/EnjoyHomePage.tsx
  Frontend/nubio/src/pages/LoginPage.tsx
  Frontend/nubio/src/pages/SafeHomePage.tsx
  Frontend/nubio/src/router/index.tsx
  Frontend/nubio/src/styles/SCalamity.tsx
  Frontend/nubio/src/styles/SFooter.tsx
  Frontend/nubio/src/styles/SReport.tsx
  README.md
  backend/safe-service/src/main/java/com/safeservice/api/chat/controller/ChatClientController.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/dto/ChatClientDto.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/dto/ChatRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/service/ChatClientService.java
  backend/safe-service/src/main/java/com/safeservice/api/chat/service/impl/ChatClientServiceimpl.java
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/impl/SchedulerApiServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportListDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/repository/EmergencyMessageRepository.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/service/EmergencyMessageService.java
  backend/safe-service/src/main/java/com/safeservice/domain/emergencymessage/service/impl/EmergencyMessageServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/Report.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/type/report/Allow.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/type/report/Region.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepository.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
  backend/safe-service/src/test/java/com/safeservice/api/report/service/ReportInfoServiceTest.java
  backend/safe-service/src/test/java/com/safeservice/domain/report/service/Impl/ReportServiceImplTest.java
Labels: 🔀 병합, 🚀 배포, 🧩frontend, 🔙🔚 backend

#404 refactor(SchedulerApiServiceImpl) : #399 - 스케줄러 구간 수정
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/impl/SchedulerApiServiceImpl.java
Labels: 🔀 병합, ♻️ 리팩토링, 🔙🔚 backend

#405 merge(main)
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/service/impl/SchedulerApiServiceImpl.java
Labels: 🔀 병합, 🚀 배포, 🔙🔚 backend

#406 feat(ProfileModal) : #402 - 프로필 기능 버튼 연결
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/components/common/menumodal/ProfileModal.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: ✨ 기능, 🧩frontend

#409 fix(SchedulerApiClient) : #408 - api url 수정
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/client/SchedulerApiClient.java
Labels: 🐛 버그, 🚀 배포, 🔙🔚 backend

#410 merge
  Frontend/nubio/src/components/common/menumodal/EnjoyModal.tsx
  Frontend/nubio/src/components/common/menumodal/ProfileModal.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: 🔀 병합

#412 merge
  backend/safe-service/src/main/java/com/safeservice/api/emergencymessage/client/SchedulerApiClient.java
Labels: 🐛 버그, ⚡️ 개선, 🚀 배포, 🔙🔚 backend

#414 Feature/enjoy place add
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/repository/PlaceRepository.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/service/PlaceService.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/service/impl/PlaceServiceImpl.java
  backend/enjoy-service/src/test/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImplTest.java
  backend/enjoy-service/src/test/java/com/enjoyservice/domain/place/repository/PlaceRepositoryTest.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, ✅ 테스트, 🔙🔚 backend

#419 Feature/component refactor
  Frontend/nubio/public/assets/enjoy.gif
  Frontend/nubio/public/index.html
  Frontend/nubio/public/sw.js
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/components/common/Header.tsx
  Frontend/nubio/src/components/user/signUp/SignUpForm.tsx
  Frontend/nubio/src/router/index.tsx
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#421 Feature/enjoy node back
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseDetailRes.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/node/entity/Node.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/node/entity/type/Point.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/node/mongo/NodeRepository.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/node/service/NodeService.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/node/service/impl/NodeServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/repository/PlaceRepository.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/service/PlaceService.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/place/service/impl/PlaceServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/recomendation/service/impl/WordsServiceImpl.java
  backend/enjoy-service/src/main/java/com/enjoyservice/mapper/course/CourseMapper.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#424 feat(PlaceApiService) : #423 - 장소 썸네일 이미지 추가
  backend/enjoy-service/src/main/java/com/enjoyservice/api/place/dto/PlaceCsvInfoRes.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/place/service/PlaceApiService.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/placeimage/service/PlaceImageService.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/placeimage/service/impl/PlaceImageServiceImpl.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#425 Feature/component refactor
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourse.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseFilterModal/AllCourseFilterModal.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseHeader.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseList/AllCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseLocation.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseLocation/AllCourseLocationItem.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/AllCourseLocation/AllCourseLocationList.tsx
  Frontend/nubio/src/components/enjoyHome/AllCourse/Category.tsx
  Frontend/nubio/src/components/enjoyHome/Home/AllButton.tsx
  Frontend/nubio/src/components/enjoyHome/Home/Banner.tsx
  Frontend/nubio/src/components/enjoyHome/Home/CourseMakerIcon.tsx
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/Home/customCourse/CustomCourseList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseLocationSelect.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CoursePin.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseResult.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelect.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/CourseSelect/CourseSelectModal.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/LocationList/LocationItem.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/LocationList/LocationList.tsx
  Frontend/nubio/src/components/enjoyHome/MyCourse/MyCourse.tsx
  Frontend/nubio/src/components/user/Like/LikeHeader.tsx
  Frontend/nubio/src/components/user/Like/LikeList.tsx
  Frontend/nubio/src/components/user/Like/course/CourseList.tsx
  Frontend/nubio/src/components/user/Like/mycourse/MyCourseList.tsx
  Frontend/nubio/src/components/user/Like/place/PlaceInfo.tsx
  Frontend/nubio/src/components/user/Like/place/PlaceItem.tsx
  Frontend/nubio/src/components/user/Like/place/PlaceList.tsx
  Frontend/nubio/src/components/user/Like/place/PlacePhoto.tsx
  Frontend/nubio/src/components/user/Like/place/Stars.tsx
Labels: ⚡️ 개선, ♻️ 리팩토링, 🧩frontend

#429 feat(docker-compose) : #426 - docker-compose설정
  docker-compose.yml
Labels: ⚙️ 설정

#430 jenkinsfile설정
  docker-compose.yml
Labels: ⚙️ 설정

#432 fix(jenkinsfile) : #426 - jenkinsfile설정
  docker-compose.yml
Labels: ⚙️ 설정

#433 - jenkinsfile설정
  docker-compose.yml
Labels: ⚙️ 설정

#431 Feature/refactoring safe
  Frontend/nubio/public/assets/search/myLocation.png
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/MyLocation.tsx
  Frontend/nubio/src/components/common/search/Search.tsx
  Frontend/nubio/src/components/common/search/SearchBar.tsx
  Frontend/nubio/src/components/common/search/SearchResult.tsx
  Frontend/nubio/src/components/safeHome/calamity/Shelter.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbySafetyFacilities.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
  Frontend/nubio/src/styles/SMap.tsx
Labels: ♻️ 리팩토링, 🧩frontend

#434 fix(jenkinsfile) : #426 - jenkinsfile설정
  docker-compose.yml
Labels: ⚙️ 설정

#435 fix(jenkinsfile) : #426 - jenkinsfile설정
  Frontend/nubio/public/assets/search/myLocation.png
  Frontend/nubio/src/App.tsx
  Frontend/nubio/src/components/common/map/KakaoMap.tsx
  Frontend/nubio/src/components/common/map/MyLocation.tsx
  Frontend/nubio/src/components/common/search/Search.tsx
  Frontend/nubio/src/components/common/search/SearchBar.tsx
  Frontend/nubio/src/components/common/search/SearchResult.tsx
  Frontend/nubio/src/components/safeHome/calamity/Shelter.tsx
  Frontend/nubio/src/components/safeHome/route/safe/NearbySafetyFacilities.tsx
  Frontend/nubio/src/components/safeHome/route/short/ShortDirection.tsx
  Frontend/nubio/src/redux/slice/MapSlice.tsx
  Frontend/nubio/src/styles/SMap.tsx
  docker-compose.yml
Labels: ⚙️ 설정

#436 fix(application.yml) : #426 - prod설정
  backend/chatting-service/src/main/resources/application.yml
Labels: ⚙️ 설정

#437 fix(application.yml) : #426 - prod설정
  backend/chatting-service/src/main/resources/application.yml
Labels: ⚙️ 설정
