Repository Nubi0/Nubio, pull requests merged in 2023-11, with the labels that each got.

#440 Feature/admin
  backend/authentication-service/src/main/java/com/authenticationservice/global/config/web/WebConfig.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/error/ErrorCode.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/interceptor/AdminAuthorizationInterceptor.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/interceptor/AuthenticationInterceptor.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#441 develop to main
  backend/authentication-service/src/main/java/com/authenticationservice/global/config/web/WebConfig.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/error/ErrorCode.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/interceptor/AdminAuthorizationInterceptor.java
  backend/authentication-service/src/main/java/com/authenticationservice/global/interceptor/AuthenticationInterceptor.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
Labels: 🚀 배포

#443 feat(AdminController) : #438 - 관리자 기능 url 수정
  backend/authentication-service/src/main/java/com/authenticationservice/global/config/web/WebConfig.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#444 Feature/report findallow back
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportFileResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#445 merge
  backend/authentication-service/src/main/java/com/authenticationservice/global/config/web/WebConfig.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportFileResponseDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
Labels: 🚀 배포, 🔙🔚 backend

#446 Feature/chatting back
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/SafeApiClient.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/dto/request/ChatRequestDto.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/dto/response/ChatClientDto.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/controller/ChattingRoomController.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/dto/request/FindLocationReq.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/service/ChattingRoomInfoService.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/service/Imple/ChattingRoomServiceImpl/ChattingRoomInfoServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/global/error/FeignClientExceptionErrorDecoder.java
  backend/chatting-service/src/main/java/com/chattingservice/global/web/FeignConfig.java
Labels: ⚡️ 개선, 🚀 배포, ✨ 기능, 🔙🔚 backend

#447 merge(develop) : #379 -현재위치 기반으로 채팅방 조회
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/SafeApiClient.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/dto/request/ChatRequestDto.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/client/dto/response/ChatClientDto.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/controller/ChattingRoomController.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/dto/request/FindLocationReq.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/service/ChattingRoomInfoService.java
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/service/Imple/ChattingRoomServiceImpl/ChattingRoomInfoServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/global/error/FeignClientExceptionErrorDecoder.java
  backend/chatting-service/src/main/java/com/chattingservice/global/web/FeignConfig.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#453 Feature/report adminfix back
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/placeimage/entity/type/Url.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/Report.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
Labels: 🔀 병합, ⚡️ 개선, 🔙🔚 backend

#454 merge
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/placeimage/entity/type/Url.java
  backend/safe-service/src/main/java/com/safeservice/api/admin/controller/AdminController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/controller/ReportController.java
  backend/safe-service/src/main/java/com/safeservice/api/report/dto/ReportRequestDto.java
  backend/safe-service/src/main/java/com/safeservice/api/report/service/ReportInfoService.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/entity/Report.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryCustom.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/repository/ReportRepositoryImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/Impl/ReportServiceImpl.java
  backend/safe-service/src/main/java/com/safeservice/domain/report/service/ReportService.java
Labels: 🔀 병합, 🚀 배포, 🔙🔚 backend

#456 fix(ChattingRoomServiceImpl) : #379 -채팅방 이름 입력해서 입장 회원 존재시 분기 추가
  backend/chatting-service/src/main/java/com/chattingservice/domain/chattingroom/service/impl/ChattingRoomServiceImpl.java
Labels: ✨ 기능, 🔙🔚 backend

#458 feat(AuthenticationController) : #379 -헤더정보로 회윈의 identification반환
  backend/authentication-service/src/main/java/com/authenticationservice/external/auth/controller/AuthenticationController.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#459 merger(develop) : #379 -헤더정보로 회윈의 identification반환
  backend/authentication-service/src/main/java/com/authenticationservice/external/auth/controller/AuthenticationController.java
Labels: 🔀 병합, ⚡️ 개선, ✨ 기능, 🔙🔚 backend

#460 feat(ChattingRoomController) : #379 -채팅방 정보 출력Controller생성
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/controller/ChattingRoomController.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/KafkaProducer.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/request/RoomMessageDto.java
Labels: 🔀 병합, ✨ 기능, 🔙🔚 backend

#462 feat(RoomMessageDto) : #379 -카멜캐이스에서 스네이크 표기법으로 수정
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/dto/response/ChattingRoomEnterWithProfileResp.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/request/RoomEnterMessageDto.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/request/RoomMessageDto.java
Labels: 🚀 배포, ✨ 기능, 🔙🔚 backend

#463 Merger(develop):#379 -채팅방 정보 출력Controller생성
  backend/chatting-service/src/main/java/com/chattingservice/api/chattingroom/dto/response/ChattingRoomEnterWithProfileResp.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/request/RoomEnterMessageDto.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/request/RoomMessageDto.java
Labels: 🔀 병합, 🚀 배포, ♻️ 리팩토링, 🔙🔚 backend

#464 fix(ChattingRoomServiceImpl) : #379 - 채팅방 입장시 회원존재하면 닉네임만 변경 추가
  backend/chatting-service/Dockerfile
  backend/chatting-service/src/main/java/com/chattingservice/domain/chattingroom/service/impl/ChattingRoomServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/enity/Participant.java
  backend/chatting-service/src/main/resources/application-dev.yml
Labels: 🐛 버그, 🔀 병합, ✨ 기능, 🔙🔚 backend

#465 merge
  backend/chatting-service/Dockerfile
  backend/chatting-service/src/main/java/com/chattingservice/domain/chattingroom/service/impl/ChattingRoomServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/enity/Participant.java
  backend/chatting-service/src/main/resources/application-dev.yml
Labels: 🔀 병합, ⚡️ 개선, 🚀 배포, 🔙🔚 backend

#468 Feature/course index back
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/taste/entity/constant/DetailType.java
Labels: 🔀 병합, ♻️ 리팩토링, 🔙🔚 backend

#469 fix(Preference) : #467 - 취향 설정 오타 수정
  Frontend/nubio/src/components/user/prefrence/DrinkList.tsx
Labels: ⚡️ 개선, 🧩frontend

#470 merge
  Frontend/nubio/src/components/user/prefrence/DrinkList.tsx
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/domain/taste/entity/constant/DetailType.java
Labels: 🔀 병합, 🚀 배포, 🔙🔚 backend

#472 refactor(CourseApiServiceInfo) : #471 - getter 명 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: ♻️ 리팩토링, 🔙🔚 backend

#473 merge
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🔀 병합, ⚡️ 개선, 🚀 배포, 🔙🔚 backend

#474 Feature/chatting
  Frontend/nubio/package-lock.json
  Frontend/nubio/package.json
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/router/index.tsx
  Frontend/nubio/src/styles/SChatroomPage.tsx
Labels: ♻️ 리팩토링, 🧩frontend

#475 fix(Footer) : #407 - Footer 모듈 추가
  Frontend/nubio/src/components/common/Footer.tsx
Labels: 🐛 버그, 🧩frontend

#476 refactor(Chattingroom) : #417 - 웹소켓 주소 변경
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
Labels: ⚡️ 개선, 🧩frontend

#478 Feature/chatting back
  backend/chatting-service/src/main/java/com/chattingservice/domain/chatting/entity/MessageCollection.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/chatting/service/ChatMessageService.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/chattingroom/service/impl/ChattingRoomServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/ParticipantService.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/enity/type/Active.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/repository/ParticipantRepository.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/service/impl/ParticipantServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/response/ChatMessageResp.java
Labels: 🚀 배포, ♻️ 리팩토링, ✨ 기능, 🔙🔚 backend

#479 Merge(develop) - 채팅방 입장시 회원존재하면 닉네임만 변경 추가
  Frontend/nubio/package-lock.json
  Frontend/nubio/package.json
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/router/index.tsx
  Frontend/nubio/src/styles/SChatroomPage.tsx
  backend/chatting-service/src/main/java/com/chattingservice/domain/chatting/entity/MessageCollection.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/chatting/service/ChatMessageService.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/chattingroom/service/impl/ChattingRoomServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/ParticipantService.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/enity/type/Active.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/repository/ParticipantRepository.java
  backend/chatting-service/src/main/java/com/chattingservice/domain/participant/service/impl/ParticipantServiceImpl.java
  backend/chatting-service/src/main/java/com/chattingservice/global/kafka/dto/response/ChatMessageResp.java
Labels: 🔀 병합, 🚀 배포, ♻️ 리팩토링, 🔙🔚 backend

#481 fix(StompChatController) : #379 - 방정보, 채팅정보 1회 전송 수정
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/controller/StompChatController.java
Labels: 🐛 버그, 🔀 병합, ⚡️ 개선, 🔙🔚 backend

#482 Merger(develop) - 방정보, 채팅정보 1회 전송 수정
  backend/chatting-service/src/main/java/com/chattingservice/api/chatting/controller/StompChatController.java
Labels: 🐛 버그, 🔀 병합, ⚡️ 개선, 🚀 배포, ✨ 기능, 🔙🔚 backend

#483 refactor(Chattingroom) : #417 - 채팅창 최종 수정
  Frontend/nubio/package-lock.json
  Frontend/nubio/package.json
  Frontend/nubio/src/components/chatPage/Announcement.tsx
  Frontend/nubio/src/components/chatPage/ChatHeader.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/redux/slice/LocationSlice.tsx
  Frontend/nubio/src/redux/store.tsx
  Frontend/nubio/src/styles/SChatroomPage.tsx
Labels: ♻️ 리팩토링, 🧩frontend

#485 feat(SafeDirection) : #484 - 안전한 길 찾기 아이콘 변경
  Frontend/nubio/public/assets/markerIcon/convenience.png
  Frontend/nubio/public/assets/markerIcon/police.png
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#487 fix(CourseApiServiceImpl) : #486 - 코스 path 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🔙🔚 backend

#488 merge
  Frontend/nubio/package-lock.json
  Frontend/nubio/package.json
  Frontend/nubio/public/assets/markerIcon/convenience.png
  Frontend/nubio/public/assets/markerIcon/police.png
  Frontend/nubio/src/components/chatPage/Announcement.tsx
  Frontend/nubio/src/components/chatPage/ChatHeader.tsx
  Frontend/nubio/src/components/common/Footer.tsx
  Frontend/nubio/src/components/common/menumodal/ChatModal.tsx
  Frontend/nubio/src/components/safeHome/route/safe/SafeDirection.tsx
  Frontend/nubio/src/pages/ChatroomPage.tsx
  Frontend/nubio/src/redux/slice/LocationSlice.tsx
  Frontend/nubio/src/redux/store.tsx
  Frontend/nubio/src/styles/SChatroomPage.tsx
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🚀 배포, 🔙🔚 backend

#489 fix(CourseApiServiceImpl) : #486 - dto 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
Labels: 🐛 버그, 🔙🔚 backend

#491 merge
  Frontend/nubio/src/components/enjoyHome/allCourse/allCourseList/AllCourseItem.tsx
  Frontend/nubio/src/components/enjoyHome/home/customCourse/CustomCourseItem.tsx
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/dto/CourseCreateReq.java
Labels: 🔀 병합, 🚀 배포, 🔙🔚 backend

#492 fix(CourseApiServiceImpl) : #486 - dto 코드 수정
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🔙🔚 backend

#493 merge
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🚀 배포, 🔙🔚 backend

#495 Feature/course split back
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🔀 병합, 🔙🔚 backend

#496 merge
  backend/enjoy-service/src/main/java/com/enjoyservice/api/course/service/impl/CourseApiServiceImpl.java
Labels: 🐛 버그, 🚀 배포, 🔙🔚 backend

#498 feat(CourseDetail) : #407 - 누락 이미지 추가
  Frontend/nubio/public/assets/nubio-small.png
  Frontend/nubio/src/styles/SCourseDeatilPage.tsx
  Frontend/nubio/src/styles/SCourseSelectPage.tsx
  Frontend/nubio/src/styles/SFooter.tsx
Labels: ⚡️ 개선, ✨ 기능, 🧩frontend

#499 fix(Footer) : #407 - import 경로 수정
  Frontend/nubio/src/components/common/Footer.tsx
Labels: 🐛 버그, 🧩frontend
